.holder--skills-section {
    background-color: white;
}

.holder--skills {
    flex-wrap: wrap;
}

.skill--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    background-color: black;
}

.holder--skills span {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: white;
}

.holder--skills-icon {
    font-size: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}