@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Orbitron:wght@400..900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body, html {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0px !important;
    color: white !important;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.container-1200 {
    width: 1200px;
    margin: 0 auto;
}

.container-800 {
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: #fff;
    height: 100vh;
    width: 100%;
    text-align: center;
    perspective: 20px;
}

.holder--threejs {
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
    transform: translateZ(-20px);
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.holder--text {
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 11;
    transform: translateZ(0);
}

.holder--text img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main--text {
    font-family: "VT323", monospace;
    font-size: 50px;
    color: white;
}

.function--text {
    letter-spacing: 2px;
}

.holder--me {
    border: 3px solid white;
    border-radius: 50%;
    transform-style: preserve-3d;
}

.holder--brands {
    width: 200px;
}

.holder--brands i:hover {
    color: #3dfc03;
    cursor: pointer;
}

.arrow--down {
    z-index: 90;
    position: absolute;
    bottom: 20px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.btn-primary {
    border-radius: 0px !important;
    background-color: black !important;
    border: 3px solid #3dfc03 !important;
    color: white !important;

    font-family: "VT323", monospace;
    font-size: 30px !important;
    letter-spacing: 1px;
    transition: 0s !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #3dfc03 !important;
    color: black !important;
    border: 3px solid #3dfc03 !important;
}


a {
    font-family: "VT323", monospace;
    font-size: 1.3rem !important;
    letter-spacing: 1px;
    color: #3dfc03 !important;
    text-decoration: none; /* no underline */
}