@import url(https://fonts.googleapis.com/css?family=VT323);

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d1e22;
    background-image: radial-gradient(rgba(66, 195, 200, 0.2), #1d1e22 120%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, rgba(29, 30, 34, 0.5), rgba(29, 30, 34, 0.5) 1px, transparent 1px, transparent 3px);
    pointer-events: none;
}

.container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 900px;

}

::selection {
    background: #a5e5d4;
    color: #1d1e22;
    text-shadow: none;
}

.text {
    line-height: 1px;
    padding: 30px;
    font-size: 40px;
    color: #a5e5d4;
    font-family: 'VT323';
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 4px 10px rgba(165, 229, 212, 0.5);
}

.social-holder {
    margin-top: 120px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.fs-50 {
    font-size: 50px;
}
  
.fs-60 {
    font-size: 60px;
}

.item a i {
    transition: 0.2s;
}
  
a i {
    color: #a5e5d4;
}

a i:hover {
    color: white;
    text-shadow: 0px 0px 20px #2EC866;
}

@media screen and (max-width: 600px) {
    
    .text{
        font-size: 12px;
    }

    .social-holder {
        margin-top: 0px;
        width: 80%;
      }
    
      .fs-50, .fs-60 {
        font-size: 20px;
      }

}